@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

/* variables */

:root {
    --primarycolor: #5267DF;
    --secondarycolor: #FA5959;
    --fontcolor: #242A45;
    --grey: #9194A2;
}

/* variables */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navMobile {
    display: none;
}

.hamburger {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #f08080;
    position: relative;
    cursor: pointer;
  }
  .hamburger input {
    display: none;
  }
  .line {
    position: absolute;
    background-color: #000;
    width: 30px;
    height: 3px;
    inset: 0;
    margin: auto;
    transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .line:nth-child(2) {
    transform: translateY(-8px);
  }
  .line:nth-child(4) {
    transform: translateY(8px);
  }
  .hamburger:has(:checked) .line:nth-child(2) {
    transform: rotate(45deg);
  }
  .hamburger:has(:checked) .line:nth-child(4) {
    transform: rotate(-45deg);
  }
  .hamburger:has(:checked) .line:nth-child(3) {
    opacity: 0;
  }
  

a {
    text-decoration: none;
    cursor: pointer;
}

li, summary { list-style: none;}

body {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 1440px;
    padding: 0;
    position: relative;
    margin: 0 auto;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 165px;    
    margin: 0 auto 110px auto;
    position: sticky;
    background-color: #fff;
    z-index: 3;
    top: 0;
    box-shadow: 0px 7px 10px -3px rgba(0,0,0,0.2);


    & ul {
        display: flex;
        gap: 20px;

        & li > a {
            color: #242A45;
            font-family: Rubik;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px; /* 130.769% */
            letter-spacing: 1.5px;
            padding: 12px 32px;
            cursor: pointer;
        }

        & a:hover {
            color: #FA5959;
        }

        & .active {
            background-color: #FA5959;
            border-radius: 5px;
            color: #fff !important;
            font-weight: 500 !important;
            box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
        }
    }
}

.firstSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    gap: 67px;
    padding: 0 94px 0 165px;
    margin-bottom: 182px;
}

.firstSectionContent {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & h3 {
        color: #242A45;
        font-family: Rubik;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 52px; /* 108.333% */
        letter-spacing: -0.15px;
    }

    & p {
        color: #242A45;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
        opacity: 0.5;
    }
}

.firstSectionButtons {
    display: flex;
    gap: 16px;

    & a {
        color: #FFF;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 200% */
        letter-spacing: 0.25px;
        padding: 10px 24px;
        border-radius: 5px;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
        border: 1px solid transparent;
    }

    & a:first-child {
        background-color: #5267DF;
    }

    & a:first-child:hover {
        border: 1px solid #5267DF;
        background-color: transparent;
        color: #5267DF;
        transition: all .5s;
    }

    & a:last-child {
        background-color: #F7F7F7;
        color: #242A45;
        opacity: 0.75;
    }

    & a:last-child:hover {
        border: 1px solid #242A45;
        background-color: transparent;
        color: #242A45;
        transition: all .5s;
    }
}

#pcbg {
    position: absolute;
    right: 0;
    top: 132px;
    z-index: -1;
}

.secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 240px;

    & h3 {
        color: #242A45;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 52px; /* 162.5% */
        letter-spacing: -0.1px;
        margin-bottom: 16px;
    }

    & p {
        color: #242A45;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
        opacity: 0.5;
        width: 540px;
        margin-bottom: 72px;
    }

    & header {
        width: 730px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 75px;

        & a {
            text-align: center;
            padding-bottom: 25px;
            color: #242A45;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 17px; /* 106.25% */
            letter-spacing: 0.533px;
        }

    }
}

.secondSectionContents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 125px;
    & img {
        z-index: 1;
    }
}

.secondSectionContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-top: 50px;

    & h3 {
        color: #242A45;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 52px; /* 162.5% */
        letter-spacing: -0.1px;
        margin-bottom: 0;
    }

    & p {
        color: #242A45;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
        text-align: left;
        margin-bottom: 0;
        width: 445px;

    }

    & a {
        padding: 10px 25px;
        background-color: #5267DF;
        border-radius: 5px;
        color: #fff;
        border: 1px solid transparent;
    }

    & a:hover {
        border: 1px solid #5267DF;
        background-color: transparent;
        color: #5267DF;
        transition: all .5s;
    }
}

#seconSectionBg {
    position: absolute;
    left: 0;
    bottom: -60px;
    z-index: 0;
}

.active {
    border-bottom: 3px solid var(--secondarycolor) !important;
}


/* thirdsection */

.thirdSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;

    & header {
        width: 541px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-bottom: 48px;

        & h3 {
            color: #242A45;
            text-align: center;
            font-family: Rubik;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 52px; /* 162.5% */
            letter-spacing: -0.1px;
        }

        & p {
            color: #242A45;
            text-align: center;
            font-family: Rubik;
            opacity: 0.5;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 155.556% */
        }

        & p:hover {
            opacity: 1;
            transition: .5s;
        }
    }
}

.browsers {
    display: flex;
    gap: 34px;
    height: 450px;
}

.browserItem {
    display: flex;
    height: 370px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20);
    padding: 24px;

    & img {
        margin-bottom: 32px;
    }

    & h4 {
        color: #242A45;
        text-align: center;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.25px;
        margin-bottom: 6px;
    }

    & p {
        color: #242A45;
        text-align: center;
        font-family: Rubik;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        margin-bottom: 50px;
        opacity: 0.5;
    }

    & p:hover {
        opacity: 1;
        transition: .5s;
    }

    & a {
        width: 100%;
        padding: 10px 35px;
        background-color: #5267DF;
        color: #fff;
        border-radius: 5px;
        border: 1px solid transparent;
    }

    & a:hover {
        border: 1px solid #5267DF;
        background-color: transparent;
        color: #5267DF;
        transition: all .5s;
    }
}

.browserItem:hover {
    box-shadow: 0px 10px 20px -5px rgba(82, 103, 223, 0.9);
    transition: all .5s;
}

.browserItem:hover > img {
    animation: rotater 5s infinite linear;
  }

.browserItem:last-child {
    margin-top: 80px;
}

.browserItem:nth-child(2) {
    margin-top: 40px;
}

/* faq */

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 540px;
    margin: 0 auto;
    margin-bottom: 150px;

    & a {
        padding: 10px 25px;
        background-color: #5267DF;
        border-radius: 5px;
        color: #fff;
        border: 1px solid transparent;
    }

    & a:hover {
        border: 1px solid #5267DF;
        background-color: transparent;
        color: #5267DF;
        transition: all .5s;
    }

    & header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 56px;

        & h3 {
            color: #242A45;
            text-align: center;
            font-family: Rubik;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 52px; /* 162.5% */
            letter-spacing: -0.1px;
        }

        & p {
            color: #242A45;
            text-align: center;
            font-family: Rubik;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 155.556% */
            opacity: 0.5;
        }

        & p:hover {
            opacity: 1;
            transition: .5s;
        }
    }

    
}

.faqContents {
    width: 100%;
    border-top: 1px solid rgba(36, 42, 69, 0.1);
    margin-bottom: 55px;


    & details {
        padding: 13px 0 ;
        border-bottom: 1px solid rgba(36, 42, 69, 0.1);

    }

    & details[open] summary {
        color: var(--secondarycolor);
    }

    & details[open] summary i {
        transform: rotate(180deg);
        transition: all .5s;
    }

    & summary {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #242A45;
        text-align: left;
        padding-right: 15px;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 177.778% */
    }

    & summary:hover {
        color: #FA5959;
    }

    & p {
        margin-top: 24px;
        color: #242A45;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 225% */
        letter-spacing: 0.15px;
        opacity: 0.5;


    }
}

p:hover {
    opacity: 1;
    transition: .5s;
}


/* footer */

.footer {
    width: 100%;
}

.footerTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5267DF;
    padding: 65px 0;
    & p {
        color: #FFF;
        text-align: center;
        font-family: Rubik;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px; /* 307.692% */
        letter-spacing: 5px;
        margin-bottom: 24px;
    }

    & h3 {
        color: #FFF;
        text-align: center;
        font-family: Rubik;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px; /* 125% */
        letter-spacing: -0.1px;
        width: 400px;
        margin-bottom: 36px;
    }

    & form {
        display: flex;
        gap: 20px;
        align-items: start;

        & input {
            background: #FFF;
            font-family: Rubik;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 200% */
            letter-spacing: 0.25px;
            padding: 5px 10px;
            min-width: 300px;
            border: 2px solid #FA5959 ;
        }

        & button {
            font-family: 'Rubik', sans-serif;
            padding: 10px 25px;
            background-color: #FA5959;
            border: 1px solid transparent;
            color: #fff;
            border-radius: 5px;
            height: 42px;
            font-weight: 500;

        }

        & button:hover {
            color: #FA5959;
            background-color: #fff;
            border: 1px solid #FA5959;
            transition: all .5s;
        }
    }
}

.footerBottom {
    padding: 32px 165px;
    background-color: #242A45;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & nav {
        display: flex;
        align-items: center;
        gap: 45px;

        & a {
            color: #FFF;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px; /* 130.769% */
            letter-spacing: 1.5px;
        }

        & a:hover {
            color: #FA5959;
            transition: all .5s;
        }

        & img {
            cursor: pointer;
        }
    }
}

.socials {
    display: flex;
    align-items: center;
    gap: 30px;
    & i {
        font-size: 25px;
        color: #fff;
    }

    & i:hover {
        color: #FA5959;
        transition: all .5s;
    }
}

.error {
    width: 100%;
    background-color: #FA5959;
    border-radius: 0;
    color: #FFF;
    font-family: Rubik;
    font-size: 10px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.25px;
    padding: 0 10px;
}

.hidden {
    display: none !important;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes rotater {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media (width < 1440px) {
    .container {
        width: 375px;
        border: 1px solid #000;
    }

    .header {
        padding: 20px 32px;
        margin: 0 auto 80px auto;
        align-items: center;
    }

    .firstSection {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-bottom: 140px;

        & img {
            order: 1;
            width: 308px;
            margin: 0 auto;
            margin-bottom: 95px;
        }
    }

    .firstSectionContent {
        order: 2;
        padding: 0 32px;

        & h3 {
            font-size: 30px;
            line-height: 40px;
            text-align: center;
        }

        & p {
            font-size: 15px;
            line-height: 25px;
            text-align: center;
        }
    }

    .firstSectionButtons {
        display: flex;
        justify-content: space-between;
        & a {
            font-size: 12px;
            padding: 10px 16px;
        }
    }

    #pcbg {
        top: 60px;
    }

    .secondSection {
        padding: 0 32px;
        margin-bottom: 80px;
        & h3 {
            font-size: 24px;
        }

        & p {
            width: 100%;
            font-size: 15px;
        }

        & header {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            & a {
                border-top: 1px solid rgba(0, 0, 0, 0.1) ;
                padding: 15px 0;

            }
        }
    }

    .secondSectionContents {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;

        & img {
            width: 100%;
        }
    }

    .secondSectionContent {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & h3 {
            font-size: 24px;
        }

        & p {
            text-align: center;
            font-size: 15px;
        }
    }

    #seconSectionBg {
        top: -200px;
        left: -32px;

    }

    .thirdSection {
        padding: 0 32px;

        & header {
            width: 100% ;
            & h3 {
                font-size: 24px;
            }

            & p {
                font-size: 15px;
                width: 100%;
            }
        }
    }

    .browsers {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 40px;
    }

    .browserItem:last-child {
        margin-top: 0;
    }
    
    .browserItem:nth-child(2) {
        margin-top: 0;
    }

    .faq {
        width: 100%;
        padding: 0 32px;

        & header {
            width: 100%;

            & h3 {
                font-size: 24px;
            }

            & p {
                font-size: 15px;
            }
        }

        & summary {
            font-size: 15px;
        }

        & p {
            font-size: 15px;
        }
    }

    .footer {
        width: 100%;
    }

    .footerTop {
        width: 100%;
        padding: 32px;

        & p {
            font-size: 12px;
        }

        & h3 {
            font-size: 24px;
            width: 100%;
        }

        & form {
            width: 100%;
            display: flex;
            flex-direction: column;

            & .input {
                width: 100%;
            }

            & input {
                min-width: 100%;
            }

            & button {
                width: 100%;
            }
        }
    }

    .footerBottom {
        padding: 40px;
        flex-direction: column;
        gap: 32px;

        & nav {
            flex-direction: column;
            gap: 32px;
            & a {
                font-size: 15px;
            }
        }
    }

    .nav {
        display: none !important;
    }

    .hamburger {
        display: inline-block;
        background-color: transparent;
    }

    .navMobile {
        display: none;
        z-index: 10;
        flex-direction: column;
        align-items: center;
        position: absolute;
        inset: 90px 0 0 0;
        opacity: 0.95;
        background: #242A45;
        backdrop-filter: blur(16.309690475463867px);
        padding: 32px;

        & ul {
            margin-bottom: 120px;

            width: 100%;
            & li {
                width: 100%;
                border-top: 1px solid rgba(255, 255, 255, 0.1) ;
                padding: 24px;
                text-align: center;

                & a {
                    color: #fff;
                    text-align: center;
                    font-family: Rubik;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 17px; /* 85% */
                    letter-spacing: 2.308px;
                }
            }

            & li:last-child {
                border: 3px solid #fff;
            }
        }
    }

    .show {
        display: inline-block !important;
    }

    .socialsNavMobile {
        display: flex;
        justify-content: center;
        gap: 30px;
        & a {
            font-size: 40px;
            color: #fff;
            padding: 20px;
        }
    }
}